<!DOCTYPE html>
<html>
<head>
    <title>Index Fund Search</title>
</head>
<body>
    <h1>Search for Index Funds</h1>
    <form action="/search" method="post">
        <label>Sectors:</label>
        <br>
        <input type="checkbox" name="sectors" value="Technology"> Technology
        <br>
        <input type="checkbox" name="sectors" value="Health Care"> Health Care
        <br>
        <input type="checkbox" name="sectors" value="Financials"> Financials
        <br>
        <input type="checkbox" name="sectors" value="Real Estate"> Real Estate
        <br>
        <input type="checkbox" name="sectors" value="Energy"> Energy
        <br>
        <input type="checkbox" name="sectors" value="Materials"> Materials
        <br>
        <input type="checkbox" name="sectors" value="Consumer Discretionary"> Consumer Discretionary
        <br>
        <input type="checkbox" name="sectors" value="Industrials"> Industrials
        <br>
        <input type="checkbox" name="sectors" value="Utilities"> Utilities
        <br>
        <input type="checkbox" name="sectors" value="Consumer Staples"> Consumer Staples
        <br>
        <input type="checkbox" name="sectors" value="Communications"> Communications
        <br>
        <button type="submit">Search</button>
    </form>
</body>
</html>
